# Frontend (Vite) environment variables
VITE_COINMARKETCAP_API_KEY=c8319a304a904f709aeb6629ea0c6423
VITE_CRYPTOCOMPARE_API_KEY=82022d21989d2befebdbaa2a4e001369bfc8b20f00dd661ea90b8fbe9102174f
VITE_ONEINCH_API_KEY=cFZRlj7mPjGzwxl0QP3B1j3qvzB6cHrN
VITE_WALLETCONNECT_PROJECT_ID=9b39025ad1e21900725d77ef50a908cd
VITE_ADMIN_USER=VestigeAdmin
VITE_ADMIN_PASS=AdminGlobal2025

# Backend (Node.js) environment variables
ONEINCH_API_KEY=cFZRlj7mPjGzwxl0QP3B1j3qvzB6cHrN
CMC_API_KEY=c8319a304a904f709aeb6629ea0c6423