# Frontend (Vite) environment variables
VITE_CRYPTOCOMPARE_API_KEY=
VITE_ONEINCH_API_KEY=
VITE_WALLETCONNECT_PROJECT_ID=
VITE_ADMIN_USER=
VITE_ADMIN_PASS=

# Backend (Node.js) environment variables
ONEINCH_API_KEY=